a:link{color:white;text-decoration:none;font-family:Comic Sans, Comic Sans MS, cursive;}
a:hover{color:white;background-color:transparent;font-size:17px;text-decoration:none;font-family:Comic Sans, Comic Sans MS, cursive;}
a:visited{color:white;text-decoration:none;font-family:Comic Sans, Comic Sans MS, cursive;}
a:active{color:white;text-decoration:none;font-family:Comic Sans, Comic Sans MS, cursive;}